<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 实体类,简称 -设置别名 -->
<!--    <typeAliases>
        <typeAlias alias="Admin" type="com.lcvc.ebuytest.model.Admin" />
        <typeAlias alias="ProductType" type="com.lcvc.ebuytest.model.ProductType" />
    </typeAliases>-->

    <mappers>
         <!-- 注册userMapper.xml文件， 
         userMapper.xml位于me.gacl.mapping这个包下，所以resource写成me/gacl/mapping/userMapper.xml-->
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/ProductTypeMapper.xml"/>
     </mappers>
    
</configuration>